<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="header">
      <div class="meaningless"></div>
      <div>
        <h1>EXHIBINECTION</h1>
      </div>
      <ul>
        <li class="not-show"><a href="#">Sign in</a></li>
        <li class="ml4 not-show"><a href="#">Sign up</a></li>
        <li class="ml4 position-relative">
          <a href="#">
            <img src="assets/images/baseline_confirmation_number_black_24dp.png" alt="">
            <div class=".position-absolute">
              <span class="badge rounded-pill bg-danger">3</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    

    <%- contents %>

    
    <div class="footer_background">
      <div class=footer>
        <h2>想收到最新消息嗎？<br> 快訂閱我們！</h2>
        <div class="input-group mb-3">
          <input type="mail" class="form-control" placeholder="輸入您的電子信箱" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <span class="input-group-text" id="basic-addon2">訂閱</span>
        </div>
      </div>
    </div>

    <div class="footer_end">
      <div class="footer_end_title">
        <h1>EXHIBINECTION</h1>
        <p>© 2020. All Rights Reserved.</p>
      </div>
      <ul>
        <li><a href="#">Sign in</a></li>
        <li class="ml4"><a href="#">Sign up</a></li>
      </ul>
    </div>
    
    

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>