.pd0{padding: 0px;}
.pb1{padding-bottom: 8px;}
.pb2{padding-bottom: 16px;}
.pr4{padding-right: 30px;}

.mb1{margin-bottom: 8px;}
.mb2{margin-bottom: 20px;}
.mb6{margin-bottom: 52px;}
.ml3{margin-left: 24px;}
.ml4{margin-left: 32px;}

.col_indigo{color: $indigo;}